/* Main body and container configurations */
/* 
body { 
    margin: basic styling that removes default margin applied by browser.
    box-sizing: changes the way height and width of elements are calculated including padding and borders.
}

.container {
    we are using flexbox here to make sure things look decent on the page.
    we are also applying company rules on font and font color.
}
*/
body {
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  font-family: 'Calibri', monospace;
  color: #212529;
}

/* Navbar */

.navbar-items a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  position: relative;
}

.navbar-items {
  display: flex;
  flex-direction: row;
  font-family: 'Consolas', monospace;

  background-color: #0e8ea8;
  color: #212529
}

.dropdown-inventory, .dropdown-orders {
  display: none;
  font-family: 'Consolar', monospace;
  background-color: #83d1e1;
  position: absolute;
  min-width: 100%;
}

.dropdown-inventory a, .dropdown-orders a {
    color: #000;
}

.dropdown:hover .dropdown-inventory,
.dropdown:hover .dropdown-orders {
  display: flex;
  flex-direction: column;
  animation-name: onHoverBg;
  animation-duration: 1s;
}

@keyframes onHoverBg {
    0% {
        background-color: #3e3c3c;
    }
    100% {
        background-color: #83d1e1;
    }
}

/* Logo and header */
/* 
header {
    using flexbox for nice centered alignment.
}

logo {
    limiting max with for company logo to 200px.
}
*/
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.header img {
  max-width: 200px;
}

/* Main Content */
/* 

content {
    own flexbox container so we can add some nice alignment.
}

tables {
    table: applied company rules to border style and color.
    table header: applied company rules to font type, font color and background color.
    table cells: applied company rules to font type, font color and background color.
}

table buttons {
    buttons: own flexbox container so we can align it nicely.
    buttons style: applied company rules to font type and background color.
}

*/

/* Main content, tables and the buttons are placed inside this */
.content {
  display: flex;
  flex-direction: column;
  justify-self: center;
  text-align: center;
}

/* Table */
.content table {
  border: thin solid #212529;
  border-collapse: separate;
  border-spacing: 5px;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
}

/* Table Header */
.content table th {
  border: thin solid #212529;
  background-color: #0e8ea8;
  color: #fff;
  font-family: 'Consolas', monospace;
  padding: 20px;
}

/* Table Cells */
.content table td {
  border: thin solid #212529;
  background-color: #83d1e1;
  color: #212529;
  font-family: 'Calibri', monospace;
  padding: 20px;
}

/* Button styling */
.table-buttons {
  padding: 5px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
#btn-confirm {
  color: #fff;
  background-color: #198754;
  font-family: 'Consolas', monospace;
}

#btn-cancel {
  color: #fff;
  background-color: #dc3545;
  font-family: 'Consolas', monospace;
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
